body {
	background: black;
	color: white;
}

h1 {
	font-size: 50px;
	text-align: center;
}

#pink { /*//https://www.w3schools.com/howto/howto_css_circles.asp*/
	/*position: center;
	border: 3px dashed white;
	border-radius: 20px;
	background: pink;*/
	height: 150px;
	width: 150px;
	background-color: pink;	
	border: 3px solid white;
	border-radius: 50%;
	display: inline-block;
	margin-right: 30px;
	margin-left: 150px;
}
#purple { /*//https://www.w3schools.com/howto/howto_css_circles.asp*/
	/*position: center;
	border: 3px dashed white;
	border-radius: 20px;
	background: pink;*/
	height: 150px;
	width: 150px;
	background-color: purple;
	border: 3px solid white;
	border-radius: 50%;
	display: inline-block;
	margin-right: 30px;


}
#green { /*//https://www.w3schools.com/howto/howto_css_circles.asp*/
	/*position: center;
	border: 3px dashed white;
	border-radius: 20px;
	background: pink;*/
	height: 150px;
	width: 150px;
	background-color: lightgreen;
	border: 3px solid white;
	border-radius: 50%;
	display: inline-block;
	margin-right: 30px;


}
#blue { /*//https://www.w3schools.com/howto/howto_css_circles.asp*/
	/*position: center;
	border: 3px dashed white;
	border-radius: 20px;
	background: pink;*/
	height: 150px;
	width: 150px;
	background-color: lightblue;
	border: 3px solid white;
	border-radius: 50%;
	display: inline-block;
	margin-right: 30px;


}